	body {
	    font-family: sans-serif;
	}

	    .body_top {
		background: url(../images/background.png);
		background-repeat: no-repeat;
		background-color: #6692d1;
	    }

    .logo-left{ 
	float: left;
}

   .logo-center{ 
    text-align: center;
}

    .logo-right{ 
    float: right;
}
        
	input {
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}

        ul {
    	    list-style-type:none;
	}
	
        span.expand_section {
	    cursor:pointer;
	    color:white;
	}
    
	td.menuheadtoolbar {
	    text-align:left;
	}
	
	.copyright {
	    color: black;
	    font-size: small;
	    
	    position: absolute;
	    bottom: -24px;
	    left: 139px;
	}
    
	.shadow {
	    -moz-box-shadow: 0px 0px 57px 0.8px white;
	    box-shadow: 0px 0px 57px 0.8px white;
	}
	
	.algnRight {
	    text-align: right;
	}
	
	.heading {
	    position: absolute;
	    top: -60px;
	    margin-left: 35px;
	    color: #0c2858;
	    font-style: italic;
	}

	
	#wrapper {
	    width: 400px;
	    background-color: white;
	    padding: 20px;
/*	    padding-top: 0px;*/
	    position: absolute;
	    -webkit-box-shadow: 0px 0px 17px 0.8px gray;
	    -moz-box-shadow: 0px 0px 17px 0.8px gray;
	    box-shadow: 0px 0px 17px 0.8px gray;
	    
	    -webkit-border-radius: 13px;
	    -moz-border-radius: 13px;

	}
    
    
	    .centerwrapper {
		top: 50%;
		margin-top: -120px;
		left: 50%;
		margin-left: -200px;
	    }

	    .lefttop {
        left: 50%;
		margin-left: 75px;
        top: 50%;
		margin-top: 75px;
	    }
	    
	    .leftwrapper {
		margin-top: 200px;
		margin-left: 400px;
	    }
	
	#gradient  {
}
